* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
    text-decoration: none;
}
h1 {
    color: white;
}
/* Navbar */
header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.nav {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.nav li a {
    color: white;
    padding: 15px;
}
.nav li a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}
/* Fin de navbar */
main {
    background-color: violet;
    width: 100%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
div.item {
    background-color: red;
    border: 2px black solid;
    margin: 10px;
    height: 500px;
    width: 500px;
}